body {
  background-color: #F8F8F8;
  color: #424666;
  font-family: Verdana, monospace;
  font-size: 100%;
  line-height: 1.8;
  text-rendering: optimizelegibility;
  margin: 0 150px 0 150px;
}

header {
  font-size: 1.5em;
  font-weight: 900;
}

nav {
  float: right;
  font-size: 80%;
  font-weight: normal;
  margin-top: 0.3em;
}

nav a {
  color: #7B7E94;
  text-decoration: none;
}

nav a:hover {
  color: #E10000;
}

nav span {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

section a {
  color: #E10000;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

hr {
  background-color: #E10000;
  border: medium;
  margin-bottom: 1.5em;
}

.member {
  margin-bottom: 1em;
  width: 950px;
  float: left;
}

.photo {
  width: 150px;
  float: left;
}

.bio {
  width: 750px;
  margin-right: 0;
  float: left;
}

.photo img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 4px #000000;
    margin-top: 0.2em;
    width: 100px;
}

.quiet {
  color: #7B7E94;
}