<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{site.base_url}}/css/screen.css" type="text/css" media="screen, projection, print" />
</head>
<body>

  <header>
    <a href="{{site.base_url}}" id="title">Extreme Development Tour</a>
    <nav><a href="{{site.base_url}}/aboutus.html">about us</a></nav>
    <hr/>
  </header>

    {{ content }}
  
  <footer>
  </footer>

</body>
</html>